# values.yaml
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.localhost`)

# Enable Gateway API support
providers:
  kubernetesGateway:
    enabled: true
# Disable automatic creation of GatewayClass and Gateway
gatewayClass:
  enabled: false
gateway:
  enabled: false

# Configure High Availablity
deployment:
  replicas: 2
podDisruptionBudget:
  enabled: true
  minAvailable: 1
# Schedule traefik instances on different nodes
topologySpreadConstraints:
  - labelSelector:
      matchLabels:
        app.kubernetes.io/name: traefik 
    maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: DoNotSchedule


# Access logs and tracing is disabled by default
logs:
  access:
    enabled: true
tracing:
  otlp:
    enabled: true
    http:
      enabled: true
      endpoint: http://tempo.monitoring.svc.cluster.local:4318/v1/traces
