apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
    name: global-oidc
    namespace: default
spec:
    plugin:
        traefik-oidc-auth:
            Provider:
                ClientId: "047094fd-3b17-4085-84fb-504deb4153de" 
                ClientSecret: "urn:k8s:secret:my-app-client-secret:client-secret"
                Url: "https://login.microsoftonline.com/8a12626e-40bc-44f1-8955-e4782cebfbc1/v2.0"
            CallbackUri: "https://www.example.com/oauth2/callback"
            Scopes:
                - openid
            Secret: "urn:k8s:secret:traefik-oidc-encryption-secret:cookie-secret"